
.tulos {
  font-family: 'Ubuntu';
  font-weight: 700;
}

.btn {
  border-width: 2px;
  font-weight: 700;
  background: none;
  color: inherit;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: 'Ubuntu';
}

h2 {
  text-align: center;
  font-family: 'Ubuntu';
}

body {
  font-family: 'Raleway';
  padding-left: 2%;
  padding-right: 2%;
}
